.symbol .category-news-img img{
    object-fit: contain !important;
}
.symbol_img_card{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.symbol_content .symbol_img_card  img{
    object-fit: contain !important;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.symbol_img_card .bookmark{
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0,0,0,0.6);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.symbol_img_card .bookmark:hover{
    background: rgb(0,0,0,0.3);
}
.symbol_img_card .bookmark .iconify{
    font-size: 2rem;
}